<div *ngIf="chartData">
  <div *ngIf="chartData.message">{{chartData.message}}</div>
  <div *ngIf="chartData.title">{{chartData.title}}</div>
  <canvas *ngIf="chartData.entries.length > 0" baseChart width="600" height="300"
          [data]="lineChartData()"
          [labels]="lineChartLabels()"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>

  <table *ngIf="chartData.entries.length > 0" border="1px">
    <tr>
      <th>{{chartData.legendX}}</th>
      <th>{{chartData.legendY}}</th>
    </tr>
    <tr *ngFor="let dataPoint of chartData.entries">
      <td>{{dataPoint.x}}</td>
      <td>{{dataPoint.y}}</td>
    </tr>
  </table>
</div>
